body{
  background-color:#ffc;
  background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1028278382.jpg);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:150%;
}
h1{
  font-color:#000;
  font-family: Courier, monospace;
}
{box-sizing:border-box}

.grid{
  display:grid;
  justify-content:center;
  grid-template-columns:200px 200px; 
  grid-template-rows:100px 100px 100px 100px;
}

.grid div{
  border:1px solid rgb(0,95,107);
  border-radius:6px;
  background-color:rgb(51,204,204);
  padding:0.5em;
  color:#000;
  font-size:120%;
  display: flex;
  align-items: center;
  justify-content: center;  
}
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
}
