body{
  background-color:#ffc;
  background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1028278382.jpg);
  background-repeat:no-repeat;
  background-position:center top;
  bacgkround-size:100%;
}
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
}
